<!DOCTYPE html>
<html lang="{{ site.locale|default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name|default('Sculpin Skeleton') }}</title>
  </head>
  <body>
    {% block body %}
      <h1>{% block page_title %}{{ page.title }}{% endblock %}</h1>

      {% block content_wrapper %}
        {% block content %}{% endblock %}
      {% endblock %}

      <hr />

      <footer>
        <p>This website is open source. <a class="underline hover:no-underline" href="{{ site.github.url }}/edit/main/source/{{ page.relative_pathname }}">Improve this page</a>.</p>
      </footer>
    {% endblock %}
  </body>
</html>
