{% extends "base" %}

{% block body %}
  <nav>
    <a href="/">Home</a>
  </nav>

  {{ parent() }}
{% endblock %}

{% block content_wrapper %}
  <div class="my-4">
      <time date="{{ page.date|date('c') }}">{{ page.date|date }}</time>
  </div>

    <div class="markdown">
      {% block content %}{% endblock %}
    </div>

  <div class="mt-10 gap-10 grid">
      {% if page.links is not empty %}
    <section>
        <h2 class="text-lg font-bold">Links</h2>

        <ul class="list-disc pl-4">
          {% for url in page.links %}
            <li><a class="text-primary underline hover:no-underline" href="{{ url }}">{{ url }}</a></li>
          {% endfor %}
        </ul>
        </section>
      {% endif %}

      {% if page.tags is not empty %}
    <section>
        <h2 class="text-lg font-bold">Tags</h2>

        <ul class="list-disc pl-4">
          {% for tag in page.tags|sort %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        </section>
      {% endif %}
    </div>
{% endblock %}
